/*body {
  text-align: center;
  max-width: 85%;
  margin: auto;
}

main {
  width: 90%;
  margin: auto;
  min-height: 300px;
}

.header-bar {
  margin-bottom: 25px;
}

.contact {
  text-align: left;
  max-width: 500px;
  border: solid 1px black;
  margin: auto;
}

.contact-link:visited {
  color: black
}

.contact-ul li {
  list-style: none;
}

.footer-heading {
  margin-top: 10px;
  margin-bottom: 3px;
}

footer a {
  margin: 5px;
}

footer p {
  margin: 0 0 15px 0;
}

.profile-image {
  max-width: 150px;
  max-height: 200px;
  border-radius: 100px;
}*/
