<p>I started to teach myself to code over a year ago and love it. I am studying at the Thinkful.com online bootcamp and have also used courses from FreeCodeCamp.com, TeamTreehouse.com and CodeSchool.com.</p>

<p>I have also organized a FreeCodeCamp – Salt Lake City meetup to provide a local community of people learning to code. I have loved being able to create something using code and have found it very rewarding. I am anxious to make a career move and continue to improve my skills.</p>

<img class="profile-image" src="assets/images/profile.jpg" alt="profile">
